.sidebar{
    width: var(--sidebar-width);
    height:calc(100vh - var(--navbar-height));
    background-color: var(--inverted-bg-color);
    position: relative;
    transition: width 0.3s;
}

.collapsed{
    width: var(--sidebar-collapsed-width);
}

.switchers{
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
}