.app.dark{
    --bg-color:rgb(0, 0, 231);
    --inverted-bg-color:rgb(221, 221, 221);
    
    --primary-color:rgb(0, 129, 0) ;
    --secondary-color:rgb(8, 255, 8) ;

    --inverted-primary-color:#023480b7 ;
    --inverted-secondary-color: rgb(18, 87, 236) ;

}