.navbar {
    width: 100%;
    height: var(--navbar-height);
    background-color: var(--inverted-bg-color);
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

.links {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
}